<!DOCTYPE html>
<html class='no-js'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MovieSurfer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <link rel='stylesheet' href='/stylesheets/show.css'>
    <link rel='stylesheet' href='/stylesheets/discover.css'>
    <script defer src='/scripts/script.js'></script>
    <link rel='icon' href='https://webstockreview.net/images/clipart-wave-surfing-13.png'>
</head>

<body>
    <nav class='navbar fixed-top navbar-expand-lg'>
        <a class='navbar-brand mb-0 h1' href='/movie'>
            MovieSurfer
        </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav mr-auto'>
                <form action='/search/1' class='form-inline my-2 my-lg-0'>
                    <input class='form-control mr-sm-2' type='search' name='search' placeholder='Movies & TV Shows' aria-label='Search'>
                    <button class='btn btn-outline-primary my-2 my-sm-0' type='submit'>Search</button>
                </form>
            </ul>

            <ul class='navbar-nav' style='margin-right: 100px;'>
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                Movies
                            </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/movie/discover/top?page=1'>Top Rated</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/movie/discover/pop?page=1'>Most Popular</a>
                    </div>
                </li>
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                TV Shows
                            </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/tv/discover/top?page=1'>Top Rated</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/tv/discover/pop?page=1'>Most Popular</a>
                    </div>
                </li>
                <% if(!currentUser){ %>
                    <li class='nav-item '>
                        <a class='nav-link' href='/register'>Sign Up</a>
                    </li>
                    <li class='nav-item '>
                        <a class='nav-link' href='/login'>Login</a>
                    </li>
                <% } else { %>
                    <li class='nav-item '>
                        <a class='nav-link' href='#'>Signed In As <%= currentUser.firstname %></a>
                    </li>
                    <li class='nav-item dropdown'>
                        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                            <img style='width: 25px;' src='https://cdn4.iconfinder.com/data/icons/forum-buttons-and-community-signs-1/794/profile-3-512.png' alt='Account'>
                        </a>
                        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                            <a class='dropdown-item' href='/login'>WatchList</a>
                                <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='/logout'>Logout</a>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class='container' style='margin-top: 52px;'>
        <% if(error && error.length>0){ %>
            <div class='alert alert-danger' role='alert'>
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length>0){ %>
            <div class='alert alert-danger' role='alert'>
                <%= success %>
            </div>
        <% } %>
    </div>