<!DOCTYPE html>
<html>

<head>
    <title>MovieSurfer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    <link rel="icon" href="https://webstockreview.net/images/clipart-wave-surfing-13.png">
</head>

<body>

    <div id="landing-header">
        <h1><img class="logo" src="https://webstockreview.net/images/clipart-wave-surfing-13.png" width="110">MovieSurfer</h1>
        <a href="/index" class="btn btn-lg btn-outline-primary">Start Surfing...</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <% include partials/footer %>