<%include partials/header %>


    <div class='container' style='height: 100vh; background-color: #001d26; padding-top: 12px; padding-bottom: 12px; padding-right: 20px;'>
        <h1 class='header' style='margin-top: 100px; text-align:center;'>Login</h1>
        <div class='formtab'>
            <form action='/login' method='POST'>
                <div class='form-group'>
                    <input class='form-control' type='text' name='username' placeholder='username'>
                </div>
                <div class='form-group'>
                    <input class='form-control' type='password' name='password' placeholder='password'>
                </div>
                <div class='form-group'>
                    <button class='btn btn-lg btn-outline-primary btn-block'>Submit!</button>
                </div>
                <a class='acclink' style='color: #00c8ff;' href='/register'>Don't have an account?</a>
                <br>
                <a style='color: #00c8ff;' href='/movie'>Go Back</a>
            </form>
        </div>
    </div>


    <%include partials/footer %>